* {
  ---dark-yellow: #e6b954;
  --dark-gray-color: #464d57;
  --dark-pink: #de6983;
  --white: #eeeeee;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  
}

/* ----nav bar------ */
.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #464d57;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  z-index: 1;
  width: 100%;
  /* margin: 0 auto;
  padding: 0 50px; */
}
.personal-logo {
  height: 60%;
  width: auto;
  margin: 1rem 0 0 1rem;
  
}
.nav__menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
}
.navbar__item {
  padding: 0 1rem;
  font-size: 1.35rem;
}
.navbar__item a {
  text-decoration: none;
  color: black;
}
.navbar__item a:hover {
  color: var(--dark-pink);
}
/* .navbar__item a :active{
  background-color: red;
} */

.toggle_menu{
  display: none;
  width: 40px;
  height: 40px;
  margin: 1rem 1rem 0;
  /* display: none; */
}

/* ---body and home section--- */
body {
  background-color:var(--dark-gray-color);
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}
.pfp {
  height: 35vh;
  width: auto;
  border-radius: 50%;
  margin: 15rem 4rem;
}

#home h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  color: var(--white);
}
/* 
The idea was to have each and every letter have a span so that when i hovered over it, it would change color and increase size. 
This would work, but wouldn't be practical will work on this idea more with videos and animations
*/
.space {
  margin-right: 1rem;
}
.color_change {
  letter-spacing: -0.15em;
}
.color_change:hover {
  color: var(--dark-pink);
}
.color_change-2 {
  letter-spacing: -0.15em;
}
.color_change-2:hover {
  color: var(---dark-yellow);
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}
.contact_button {
  margin-top: 1rem;
  padding: 0.5rem;
}
.contact_button a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

/* .contact_button :hover{
  background-color: var(---dark-yellow);
} 
come back to this I want the button to fill with the color the longer I hover over it
*/

/* ---about section--- */
#about {
  display: flex;
  height: 100vh;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pfp-2 {
  height: 35vh;
  width: auto;
  border-radius: 50%;
}

.html-css-js {
  height: 13rem;
  width: auto;
}

/* ----Services Section---- */
#services {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 3rem;
  column-gap: 3rem;
}

.service-description {
  padding: 1.2rem;
  text-align: center;
  font-size: 1.15rem;
  max-height: 400px;
}

.one {
  background-color: var(---dark-yellow);
}
.two {
  background-image: linear-gradient(to left, var(--dark-pink), var(---dark-yellow));
}
.three {
  background-color: var(--dark-pink);
}

.container-services {
  padding-top: 5rem;
}

.container-services h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(---dark-yellow);
}
.container-services h3 {
  padding-bottom: 1.5rem;
}

/* Contact Section */
#contact {
  padding-top: 4rem;
  background-image: linear-gradient(to right, var(---dark-yellow), var(--dark-pink));
  display: flex;
  height: 92vh;
  width: auto;
  align-items: center;
  justify-content: center;
}
.contact__heading {
  position: absolute;
  margin-bottom: 33rem;
}

.contact__heading h2 {
  font-size: 3.5rem;
}

input[type='text'],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  background-color: var(--dark-gray-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type='submit']:hover {
  background-color: var(--dark-pink);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.social_pointer {
  position: absolute;
  margin-top: 30rem;
  font-size: 1.5rem;
}

/* ----------------------------------- */

footer {
  /* background-color: var(); */
  display: flex;
  height: 8vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  font-size: 2rem;
  margin: 1.3rem;
  color:red;
}

/*
Doesnt work... needs work
.footer-icon :hover {
  color: var(---dark-yellow);
} */

/* Media query breakpoints references
320-480: mobile phone
481-768: ipad, tablet
769-1024: small screen, laptops
1025-1200: Desktop, large screens
1201-more: extra large screens, tv */

@media screen and (min-width: 375px) {
  /* body{
    background-color: pink;
  }
  
  .navbar {
    width: 100%;
    height: 10vh;
  }
  .top_nav {
    display: none;
  }
  .navbar__item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
}
@media screen and (max-width: 768px) {
.nav__menu{
  display: none;
}



  
}
@media screen and (max-width: 1024px) {
  #home h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1025px) {
  
  
}
